.menuBar {
    display: inline;
    text-align: right;
    padding: 30px 10px;
    font-size: x-large;
    font-family: 'Gloria Hallelujah', cursive;
}

.menuItem {
    padding: 0 15px !important;
}

hr {
  border-color: rgb(31,78,121);
  border-width: 5px;
}

#navbar {
    padding: 15px;
    padding-bottom: 0;
}

.content-container {
    margin: 0;
    width: 100vw;
    position: absolute;
}

.selected {
    background-color: rgba(31,78,121,0.5);
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    display: none;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: black;
}
a:hover,
a:focus {
  color: rgba(31,78,121,1);
  text-decoration: none;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden; 
}

.contents {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    overflow-y: scroll;
    margin: 1vh;
    border-radius: 5px;
    height: 78vh;
    font-size: x-large;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    -ms-overflow-style: none;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .menuBar {
        display: inline;
        text-align: right;
        padding: 0;
        font-size: small;
        margin-top: 5px;
    }
    .menuItem {
        padding: 5px !important;
    }
    hr{
        margin: 5px 0;
        border-width: 2px;
    }
    .about-info-container {
        font-size: x-small;
        margin-top: 40% !important;
        height: auto !important;
    }
    .about-image-container {
        font-size: x-small;
        margin-top: 40%;
    }
    .whoami {
        font-size: x-small !important;
    }
    .contents {
        font-size: x-small;
    }
    .img-left-overlay {
        width: 80% !important;
        opacity: 0.2;
    }
}

.whoami{
    padding-left: 10%;
    font-size: xx-large;
    font-weight: bold;
    line-height: 2;
}

.about-image-container{
    padding: 15px;
    height: 100%;
    text-align: center;
}

.img-about{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    z-index: 5;
}

.about-info-container {
    margin-top: 10px;
    height: 90%;
    padding: 15px;
}

.img-overlay {
    position: absolute;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    right: 0;
}

.img-left-overlay {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0;
}

.bg-container{
    width:100%;
    position: absolute;
    height: 100%;
}