.thumbnail-container {
    margin-top: 15%;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .contact-caption{
        font-size: x-small !important;
    }
    .contact-caption a{
        font-size: xx-small !important;
    }
}

.img-scale {
    max-width: 100%;
    width: 100%;
}

.contact-caption{
    text-align: center;
    font-size: large;
    font-weight: 800;
}