.thumbnail-container {
    padding: 20px;
    margin-top: 15%;
}

.thumbnail-image{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    opacity: 1;
}

.thumbnail-header {
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    text-align: center;
    position: absolute;
    padding-top: 40%;
    z-index: 2;
    background-color: rgba(1, 1, 1, .1);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.single-row{
    height: 100%;
}

.interest-heading {
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
}

.interest-description {
    padding: 15px;
}

.indiv-image {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

.btn-photos {
    text-align: center;
    padding: 15px;
}

.button-row {
    text-align: right;
    padding: 15px;
}

.btn-thumbnail{
    font-size: large;
}

.white-popup {
  position: relative;
  width: auto;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
}

@media all and (max-width: 768px) {
    .interest-heading {
        font-size: small;
    }
    .btn {
        font-size: x-small !important;
    }
    .thumbnail-header {
        font-size: small;
    }
    .thumbnail-container {
        padding: 5px; 
    }
}