.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.img-right-overlay{
    height: 100%;
    max-width: 33%;
    position: absolute;
    right: 0;
}

.img-avatar{
    width: 100%;
    border-radius: 50%;
    padding: 5%;
}

.thumbnail-container {
    padding: 5% 5%;
}

.descrip-container{
    text-align: center;
    font-family: 'Port Lligat Slab', serif;
    font-size: large;
}

.btn-text {
    font-size: large;
}

h1{
    font-size: 4em;
    padding: 10px;
    font-weight: bold;
}

@media all and (max-width: 768px) {
    .descrip-container {
        font-size: x-small !important;
    }
    
    .pad-top {
        padding-top: 40%;
    }
    .btn{
        font-size: inherit;
    }

    .img-right-overlay{
        height: 50%;
        max-width: 50%;
        position: absolute;
        top: 30%;
        right: 0;
    }
    h1{
        margin: 0;
        font-size: 2em;
    }
}