.work-contents {
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 !important;
}

.seperate-line {
    padding: 3% 0 0 0;
}

.titles{
    font-weight: bold;
    font-size: 1.1em;
}
#thumbnails{
    height: 100%;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .indiv-work-content-box {
        font-size: x-small !important;
    }
    .btn {
        font-size: x-small !important;
    }
    #thumbnails {
        height: 100%;
        margin: 0 -15px;
    }
    .img-scale-new {
        margin: auto !important;
        width: 50% !important;
        height: auto !important;
        display: block;
    }
    .indiv-thumbnail-new {
        position: relative;
        cursor: pointer;
        height: 50% !important;
        display: block;
    }
    .work-contents {
        width: 80%;
        margin-left: 10% !important;
    }
    .indiv-work {
        padding-right: 0 !important;
    }
    .indiv-work-bottom{
        padding-top: 0 !important;
    }
    
}

.contents {
    background-color: rgba(1,1,1,0) !important;
}

.darken-background {
    position: absolute;
    display: table;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
}

.img-scale {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    vertical-align: middle;
    border-radius: 5px;
    border-width: 2px;
    border: solid;
    border-color: rgba(1,1,1,0.3);
}

.indiv-work {
    height: 100%;
    width: 100%;
    padding: 15px;
}

.indiv-work-content-box {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    vertical-align: middle;
    z-index: 1;
}

.image-container {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.image-indiv-scale {
    border-radius: 5px;
    border: rgb(1,1,1);
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.image-small-scale {
    max-width: 100%;
    padding : 5px;
}

.alternate-work{
    background-color: rgba(200,200,200,0.5);
}

.proj-heading {
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 15px 30px 15px 15px;
    margin-top: -15px;
}

.btn-thumbnail {
    margin: 15px;
    padding-right: 15px;
    float: right;
    background-color: rgba(200,200,200,1);
    font-weight: bold !important;
}

.normal-a {
    text-decoration: underline;
}

.indiv-work-bottom {
    padding-top: 30px;
}

.caption {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    color: rgba(230,230,230,1);
    font-weight: bolder;
    text-align: center;
    z-index: 5;
}

.skills{
    line-height: 2;
}

.icon{
    padding: 10px;
}
    
.indiv-thumbnail-new {
    position: relative;
    cursor: pointer;
    height: 100%;
    display: inline-block;
}

.img-scale-new {
    display: inline-block;
    margin: 0;
    max-height: 100%;
    height: 100%;
    z-index: 1;
}

.down-icon {
    position: absolute;
    width: 5%;
    bottom: -10%;
    left: 47%;
    cursor: pointer;
}

.dropdown-img{
    max-width: 100%;
    opacity: 0;
    z-index: 20 !important;
    height: auto;
}

#indiv-proj {
    z-index: 15;
}