.work-contents {
    height: 50%;
    width: 100%;
    text-align: center;
    margin: 0 !important;
}

#thumbnails{
    height: 100%;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .indiv-work-content-box {
        font-size: x-small !important;
    }
    .btn {
        font-size: x-small !important;
    }
    #thumbnails {
        height: 100%;
        margin: 0 -15px;
    }
    .img-scale-new {
        margin: auto !important;
        width: 50% !important;
        height: auto !important;
        display: block;
    }
    .indiv-thumbnail-new {
        position: relative;
        cursor: pointer;
        height: 50% !important;
        display: block;
    }
    .work-contents {
        width: 80%;
        margin-left: 10% !important;
    }
}

.contents {
    background-color: rgba(1,1,1,0) !important;
}

.darken-background {
    position: absolute;
    display: table;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
}

.indiv-thumbnail {
    position: relative;
    cursor: pointer;
    height: 100%;
}

.img-scale {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    vertical-align: middle;
    border-radius: 5px;
    border-width: 2px;
    border: solid;
    border-color: rgba(1,1,1,0.3);
}

.indiv-work {
    height: 100%;
    width: 100%;
    padding: 15px;
}

.indiv-work-content-box {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    vertical-align: middle;
    display: inline-block;
    overflow-y: scroll;
    border-radius: 5px;
}

.image-container {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.image-indiv-scale {
    border-radius: 5px;
    border: rgb(1,1,1);
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.button-photos {
    padding-top: 30px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}

.btn-photos {
    border-radius: 5px;
}

.proj-heading {
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 15px;
}

.btn-thumbnail {
    margin: 15px;
    float: right;
}

.normal-a {
    text-decoration: underline;
}

.indiv-work-bottom {
    padding: 30px !important;
}

.caption {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    color: rgba(230,230,230,1);
    font-weight: bolder;
    text-align: center;
    z-index: 5;
}

.indiv-thumbnail-new {
    position: relative;
    cursor: pointer;
    height: 100%;
    display: inline-block;
}

.img-scale-new {
    display: inline-block;
    margin: 0;
    max-height: 100%;
    height: 100%;
    z-index: 1;
}
